<div class="banner py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1651204978999-00d7ce1b078a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1154&q=80);">
  <div class="container text-white">
    <h1>silly<strong>MovieDB</strong></h1>
    <p>Welcome to the sillyMovieDB</p>
  </div>
</div>
<% if @movies.count.zero? %>
  <div class="container text-center my-5 bg-light py-5 shadow">
    <h1 class="text-muted">Sorry, no movies in the database </h1>
  </div>
<% else %>
  <h2 class="text-muted text-center flex-grow-1 mt-3" id="results_count"></h2>
  <div class="container gap-3 d-flex flex-wrap  justify-content-center my-5 bg-light p-5 shadow" data-controller="search">
    <input type="text" class="form-control m-4" placeholder="Type Something" id="search" name="searchbar" data-action="keyup->search#process">
    <% @movies.each do |movie| %>
      <div class="card-product movie" style="width:30vw">
        <%= image_tag(movie.poster_url) %>
        <div class="card-product-infos">
          <h2 class="name"><%= movie.title %></h2>
          <span data-controller="star-rating"></span>
          <p><%= movie.overview %></p>
          <div class="dropdown mt-3 float-end">
            <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid text-danger fa-bookmark"></i>
            </button>
            <ul class="dropdown-menu">
              <li><% @lists.each do |list| %>
                  <%= link_to list.name, bookmark_new_path(movie, list), class: "dropdown-item" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
